{% extends '_templates/base.njk' %}

{% block page_title %}Celeste Olivarez's Movies{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
        <h1>What Movies Mean to Me</h1>
        <p>blah...blah.. blah. I'll some sad good stuff later.</p>
    </div>
  </div>
</div>
{% endblock %}